@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

body {
  background-color: #6A5DFB;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  margin: 15px;
  max-height: 100vh;
}
.main .content {
  margin-left: 30px;
  width: 100%;
}

.sidebar {
  background-color: #fff;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
  max-width: 350px;
}
.sidebar .user {
  display: flex;
  align-items: center;
  margin: 10px;
}
.sidebar .user .user-informations {
  display: flex;
  align-items: center;
  margin-inline: 5px;
}
.sidebar .user .user-informations img {
  width: 60px;
  height: auto;
  border-radius: 15px;
  margin-right: 10px;
}
.sidebar .user .user-informations .user-informations-txt {
  color: #b4b4b4;
}
.sidebar .user .user-informations .user-informations-txt h1 {
  font-size: 28px;
}
.sidebar .user .user-informations .user-informations-txt p::first-letter {
  text-transform: "";
}
.sidebar .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.sidebar .navbar ul {
  margin: 10px;
  margin-bottom: 0px;
  list-style: none;
  width: 100%;
}
.sidebar .navbar ul a {
  text-decoration: none;
}
.sidebar .navbar ul #search {
  display: none;
}
.sidebar .navbar ul li {
  margin-block: 15px;
  width: 100%;
}
.sidebar .navbar ul li input {
  width: 100%;
  height: 40px;
  padding: 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #e7e3f7;
}
.sidebar .navbar ul li input::-moz-placeholder {
  color: #a6a2b4;
}
.sidebar .navbar ul li input::placeholder {
  color: #a6a2b4;
}
.sidebar .navbar ul li button {
  padding: 10px;
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 24px;
  background-color: transparent;
}
.sidebar .navbar ul li button img.icon {
  margin-right: 25px;
  width: 35px;
  height: auto;
}
.sidebar .navbar ul li button:hover {
  cursor: pointer;
  background-color: #e7e3f7;
}

.table section.filtros {
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 9999px;
  background-color: #fff;
  padding-block: 10px;
  padding-inline: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
}
.table section.filtros h2 {
  color: #6A5DFB;
  font-size: 28px;
}
.table .stack {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
  text-align: center;
}
.table .stack table {
  border-collapse: collapse;
  margin: 0px 25px 0px 25px;
  width: 100%;
}
.table .stack table thead tr th,
.table .stack table thead tr td,
.table .stack table tbody tr th,
.table .stack table tbody tr td {
  border-bottom: 2px solid #e7e3f7;
  text-align: left;
  padding: 8px;
}
.table .stack table thead tr .prioridade span,
.table .stack table tbody tr .prioridade span {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.table .stack table thead tr .prioridade span img,
.table .stack table tbody tr .prioridade span img {
  width: 22px;
  height: auto;
  margin-right: 5px;
}
.table .stack table thead tr .prioridade #baixa,
.table .stack table tbody tr .prioridade #baixa {
  color: #5BC0EB;
}
.table .stack table thead tr .prioridade #media,
.table .stack table tbody tr .prioridade #media {
  color: #FFA552;
}
.table .stack table thead tr .prioridade #media img,
.table .stack table tbody tr .prioridade #media img {
  transform: rotate(90deg);
}
.table .stack table thead tr .prioridade #alta,
.table .stack table tbody tr .prioridade #alta {
  color: #FF3B3F;
}
.table .stack table thead tr .prioridade #urgente,
.table .stack table tbody tr .prioridade #urgente {
  color: #9B5DE5;
}
.table .stack table thead tr .prioridade #urgente img,
.table .stack table tbody tr .prioridade #urgente img {
  transform: rotate(180deg);
}
.table .stack table thead tr th,
.table .stack table tbody tr th {
  font-size: 20px;
}
.table .stack table thead tr td,
.table .stack table tbody tr td {
  font-size: 20px;
}
.table .stack table thead tr .title,
.table .stack table tbody tr .title {
  min-width: 12vw;
  max-width: 10vw;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 50px #fff inset;
}
.table .stack table thead tr th#actions,
.table .stack table thead tr td#actions,
.table .stack table tbody tr th#actions,
.table .stack table tbody tr td#actions {
  text-align: center;
}
.table .stack table thead tr a,
.table .stack table tbody tr a {
  text-decoration: none;
}
.table .stack table thead tr td#actions button,
.table .stack table tbody tr td#actions button {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  border: none;
  background-color: transparent;
  padding: 8px;
}
.table .stack table thead tr td#actions button img,
.table .stack table tbody tr td#actions button img {
  width: 25px;
  height: auto;
}
.table .stack table thead tr td#actions button:hover,
.table .stack table tbody tr td#actions button:hover {
  cursor: pointer;
  background-color: #e7e3f7;
}

.details section.text {
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 9999px;
  background-color: #fff;
  padding-block: 10px;
  padding-inline: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
}
.details section.text h2 {
  color: #6A5DFB;
  font-size: 28px;
}
.details .stack {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
  text-align: center;
  width: 90%;
}
.details .stack table {
  border-collapse: collapse;
  margin-inline: 25px;
}
.details .stack table tr th,
.details .stack table tr td {
  border-bottom: 2px solid #e7e3f7;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}
.details .stack table tr .prioridade span {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.details .stack table tr .prioridade span img {
  width: 22px;
  height: auto;
  margin-right: 5px;
}
.details .stack table tr .prioridade #baixa {
  color: #5BC0EB;
}
.details .stack table tr .prioridade #media {
  color: #FFA552;
}
.details .stack table tr .prioridade #media img {
  transform: rotate(90deg);
}
.details .stack table tr .prioridade #alta {
  color: #FF3B3F;
}
.details .stack table tr .prioridade #urgente {
  color: #9B5DE5;
}
.details .stack table tr .prioridade #urgente img {
  transform: rotate(180deg);
}

.form section.text {
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 9999px;
  background-color: #fff;
  padding-block: 10px;
  padding-inline: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
}
.form section.text h2 {
  color: #6A5DFB;
  font-size: 28px;
}
.form .stack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
  text-align: center;
  width: 90%;
}
.form .stack form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form .stack form p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form .stack form p label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}
.form .stack form p input,
.form .stack form p textarea {
  width: 550px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(226, 226, 226);
  padding: 15px;
  margin-bottom: 20px;
  resize: horizontal;
}
.form .stack form p select {
  width: 350px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(226, 226, 226);
  padding: 15px;
  margin-bottom: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.form .stack form .buttons {
  display: flex;
  margin-top: 25px;
}
.form .stack form .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6A5DFB;
  padding-block: 10px;
  padding-inline: 15px;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.form .stack form .buttons button img {
  margin-left: 10px;
  width: 20px;
  height: auto;
}
.form .stack form .buttons button:hover {
  cursor: pointer;
  background-color: #483ead;
}
.form .stack form .buttons a {
  text-decoration: none;
}

.atender section.text {
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 9999px;
  background-color: #fff;
  padding-block: 10px;
  padding-inline: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
}
.atender section.text h2 {
  color: #6A5DFB;
  font-size: 28px;
}
.atender .stack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
  text-align: center;
  width: 100%;
}
.atender .stack .informations {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 15px;
}
.atender .stack .informations p {
  font-size: 22px;
  margin-bottom: 8px;
}
.atender .stack .informations p strong {
  margin-right: 10px;
}
.atender .stack form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.atender .stack form p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.atender .stack form p label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}
.atender .stack form p input,
.atender .stack form p textarea {
  width: 550px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(226, 226, 226);
  padding: 15px;
  margin-bottom: 20px;
  resize: horizontal;
}
.atender .stack form p select {
  width: 350px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(226, 226, 226);
  padding: 15px;
  margin-bottom: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.atender .stack form .buttons {
  display: flex;
  margin-top: 25px;
}
.atender .stack form .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6A5DFB;
  padding-block: 10px;
  padding-inline: 15px;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.atender .stack form .buttons button img {
  margin-left: 10px;
  width: 20px;
  height: auto;
}
.atender .stack form .buttons button:hover {
  cursor: pointer;
  background-color: #483ead;
}
.atender .stack form .buttons a {
  text-decoration: none;
}

.confirm section.text {
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 9999px;
  background-color: #fff;
  padding-block: 10px;
  padding-inline: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
}
.confirm section.text h2 {
  color: #6A5DFB;
  font-size: 28px;
}
.confirm .stack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
  text-align: center;
  width: 90%;
}
.confirm .stack form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirm .stack form .buttons {
  display: flex;
  margin-top: 25px;
}
.confirm .stack form .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6A5DFB;
  padding-block: 10px;
  padding-inline: 15px;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.confirm .stack form .buttons button img {
  margin-left: 10px;
  width: 20px;
  height: auto;
}
.confirm .stack form .buttons button:hover {
  cursor: pointer;
  background-color: #6A5DFB;
}
.confirm .stack form .buttons a {
  text-decoration: none;
}

.profile section.text {
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 9999px;
  background-color: #fff;
  padding-block: 10px;
  padding-inline: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
}
.profile section.text h2 {
  color: #6A5DFB;
  font-size: 28px;
}
.profile .stack {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
  text-align: center;
  width: 90%;
}
.profile .stack .img-user img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
}
.profile .stack form p {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.profile .stack form p label {
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 30px;
  font-size: 20px;
}
.profile .stack form p input {
  width: 300px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(226, 226, 226);
  padding: 10px;
  margin-bottom: 20px;
  resize: horizontal;
}
.profile .stack form p input#id_foto_perfil {
  background-color: transparent;
  height: auto;
  padding: 0px;
}
.profile .stack form p input#id_foto_perfil {
  width: 168.97px;
  color: transparent;
}
.profile .stack form p input#id_foto_perfil::file-selector-button {
  background-color: #6A5DFB;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
}
.profile .stack form p input#id_foto_perfil::file-selector-button:hover {
  background-color: #483ead;
  cursor: pointer;
}
.profile .stack form p select {
  width: 190px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(226, 226, 226);
  padding: 10px;
  margin-bottom: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.profile .stack form .buttons {
  display: flex;
  margin-top: 25px;
}
.profile .stack form .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6A5DFB;
  padding-block: 10px;
  padding-inline: 15px;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.profile .stack form .buttons button img {
  margin-left: 10px;
  width: 20px;
  height: auto;
}
.profile .stack form .buttons button:hover {
  cursor: pointer;
  background-color: #6A5DFB;
}
.profile .stack form .buttons a {
  text-decoration: none;
}
.profile .stack form #id_username_helptext {
  display: none;
}

.atender form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.atender form p label {
  display: none;
}
.atender form p select {
  width: 200px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(234, 234, 234);
  padding: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}
.atender form p select:hover {
  cursor: pointer;
}
.atender form button {
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  border: none;
  background-color: transparent;
  border-radius: 9999px;
}
.atender form button img {
  width: 22px;
  height: 22px;
}
.atender form button:hover {
  background-color: #e7e3f7;
  cursor: pointer;
}

.informations {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-bottom: 15px;
}
.informations #pendente {
  background: linear-gradient(#fff, #f18a8a);
}
.informations #resolvido {
  background: linear-gradient(#fff, #7ff17f);
}
.informations .infos {
  background-color: #fff;
  border: 2.5px solid #fff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
}
.informations .infos .infos-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.informations .infos .infos-txt h1 {
  font-size: 15px;
}
.informations .infos .infos-txt h2 {
  font-size: 40px;
  margin-top: 10px;
}

.filtros {
  display: flex;
  border-radius: 9999px;
  margin-block: 15px;
  justify-content: space-between;
}
.filtros .div-filtro {
  display: contents;
}
.filtros .div-filtro .filtro {
  display: flex;
  width: auto;
  background-color: #fff;
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 9999px;
  box-shadow: 0px 0px 20px rgb(71, 71, 71);
}
.filtros .div-filtro .filtro img {
  width: 24px;
  height: auto;
  margin-right: 10px;
}
.filtros .div-filtro .filtro button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #6A5DFB;
  margin-right: 8px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
}
.filtros .div-filtro .filtro h4 {
  padding-block: 5px;
  padding-right: 10px;
  color: #6A5DFB;
}
.filtros .div-filtro .filtro button::first-letter {
  text-transform: uppercase;
}
.filtros .div-filtro .filtro button:hover {
  background-color: #e7e3f7;
  cursor: pointer;
}

.select-filtros {
  display: none;
  margin-block: 15px;
}
.select-filtros .div-filtros select {
  border-radius: 9999px;
  border: none;
  padding-block: 10px;
  padding-inline: 20px;
  font-size: 18px;
  color: #6A5DFB;
  font-weight: bold;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../assets/filter.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 22px;
}
.select-filtros .div-filtros select:hover {
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login .container {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
}
.login .container form p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login .container form p label,
.login .container form p span {
  display: none;
  font-size: 22px;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}
.login .container form p label[for=id_foto_perfil] {
  display: block;
}
.login .container form p label[for=id_nivelUser] {
  display: block;
}
.login .container form p input {
  width: 480px;
  height: 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #e7e3f7;
  padding: 15px;
  margin-bottom: 20px;
}
.login .container form p input#id_nome_completo::-moz-placeholder {
  color: grey;
  background-image: url(../assets/user.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_nome_completo::placeholder {
  color: grey;
  background-image: url(../assets/user.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_codigo_cadastro::-moz-placeholder {
  color: grey;
  background-image: url(../assets/cpf.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_codigo_cadastro::placeholder {
  color: grey;
  background-image: url(../assets/cpf.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_telefone::-moz-placeholder {
  color: grey;
  background-image: url(../assets/tel.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_telefone::placeholder {
  color: grey;
  background-image: url(../assets/tel.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_email::-moz-placeholder {
  color: grey;
  background-image: url(../assets/email.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_email::placeholder {
  color: grey;
  background-image: url(../assets/email.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_password1::-moz-placeholder {
  color: grey;
  background-image: url(../assets/lock.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_password1::placeholder {
  color: grey;
  background-image: url(../assets/lock.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_password2::-moz-placeholder {
  color: grey;
  background-image: url(../assets/lock.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_password2::placeholder {
  color: grey;
  background-image: url(../assets/lock.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_password::-moz-placeholder {
  color: grey;
  background-image: url(../assets/lock.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p input#id_password::placeholder {
  color: grey;
  background-image: url(../assets/lock.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.login .container form p select {
  width: 250px;
  min-height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: #e7e3f7;
  padding-inline: 15px;
  padding-block: 10px;
  margin-bottom: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}
.login .container form p select:hover {
  cursor: pointer;
}
.login .container form p input#id_foto_perfil {
  background-color: transparent;
  height: auto;
  padding: 0px;
}
.login .container form p input#id_foto_perfil {
  width: 154px;
  color: transparent;
}
.login .container form p input#id_foto_perfil::file-selector-button {
  background-color: #6A5DFB;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
}
.login .container form p input#id_foto_perfil::file-selector-button:hover {
  background-color: #483ead;
  cursor: pointer;
}
.login .container button {
  width: 150px;
  border: none;
  background-color: #6A5DFB;
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-size: 18px;
}
.login .container button:hover {
  background-color: #483ead;
  cursor: pointer;
}
.login .container a {
  display: flex;
  margin-top: 10px;
  color: #6A5DFB;
  text-decoration: none;
}
.login .container a:hover {
  text-decoration: underline;
}

@media (max-width: 1500px) {
  .sidebar {
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(71, 71, 71);
    width: 100px;
  }
  .sidebar .user {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .sidebar .user .user-informations {
    display: flex;
    align-items: center;
    margin-inline: 0;
  }
  .sidebar .user .user-informations img {
    width: 60px;
    height: auto;
    border-radius: 15px;
    margin-right: 0;
  }
  .sidebar .user .user-informations .user-informations-txt {
    display: none;
  }
  .sidebar .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .sidebar .navbar ul {
    margin: 0px;
    margin-bottom: 0px;
    width: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sidebar .navbar ul #search-input {
    display: none;
  }
  .sidebar .navbar ul #search {
    display: block;
  }
  .sidebar .navbar ul li {
    margin-block: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
  }
  .sidebar .navbar ul li input {
    height: 60px;
    width: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e7e3f7;
  }
  .sidebar .navbar ul li a {
    text-decoration: none;
  }
  .sidebar .navbar ul li button {
    padding: 10px;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-indent: -9999px;
  }
  .sidebar .navbar ul li button img.icon {
    margin-right: 0;
    width: 35px;
    height: auto;
  }
  .sidebar .navbar ul li button:hover {
    cursor: pointer;
    background-color: #e7e3f7;
  }
}
@media (max-width: 1220px) {
  .informations {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 130px);
  }
  .informations .infos {
    margin-bottom: 10px;
  }
  .filtros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .filtros .div-filtro {
    display: flex;
    justify-content: space-between;
  }
  .filtros #um {
    margin-bottom: 10px;
  }
}
@media (max-width: 1150px) {
  body {
    overflow-x: hidden;
  }
  .content {
    margin-right: 30px;
  }
  .informations {
    max-width: 85%;
  }
  .filtros {
    max-width: 85%;
  }
  .table {
    padding: 10px;
    overflow-x: scroll;
    box-shadow: none;
    padding: 0;
    border-radius: 20px;
  }
  .table .stack {
    min-width: 1200px;
    margin-right: 150px;
    box-shadow: none;
  }
  .table::-webkit-scrollbar {
    margin-top: 5px;
    height: 8px;
  }
  .table::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .profile .stack {
    width: 98%;
  }
  .profile .stack .img-user img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
  }
}
@media (max-width: 950px) {
  .informations {
    max-width: 83%;
  }
  .filtros {
    max-width: 83%;
  }
  .form .stack form p input,
  .form .stack form p textarea {
    width: 350px;
    max-width: 400px;
    resize: none;
  }
  .profile .stack {
    width: 98%;
    flex-direction: column;
  }
  .profile .stack .img-user img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
  }
  .profile .stack form {
    margin-top: 25px;
  }
  .profile .stack form p {
    gap: 15px;
  }
}
@media (max-width: 820px) {
  .filtros {
    display: none;
  }
  .select-filtros {
    display: block;
  }
  .profile .stack {
    width: auto;
  }
}
@media (max-width: 800px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    max-height: 100vh;
    min-height: 100vh;
    margin: 0;
  }
  .informations {
    width: 100%;
    max-width: 100%;
  }
  .sidebar {
    max-width: none;
    width: 100%;
    padding: 0;
    border-radius: 0px;
  }
  .sidebar .user {
    display: none;
  }
  .sidebar .navbar {
    border-radius: 0px;
  }
  .sidebar .navbar ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .sidebar .navbar ul li {
    margin-block: 0;
  }
  .content {
    padding: 15px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }
  .login .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */