{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main class="login">
        <div class="container">
            <div class="text">
                <h1>Bem Vindo de volta!</h1>
                <p>Acesse a sua conta agora mesmo</p><br><br>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Entrar</button>
                <a href="{% url 'cadastra' %}">Não tem uma conta? Cadastre-se &#9205;</a>
            </form>
        </div>
    </main>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>

